/*------------------enjoy-block--------------*/
.enjoy-block{
	background: linear-gradient(180deg, #fff 9.5%, $main-black 9.5% 90%);

	&__container{
		display: flex;
		justify-content: space-between;
	}

	&__image{
		width: 490px;
		height: 330px;
		background-image: url(../img/bg/enjoy-block-bg.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		margin-left: -28px;
	}

	&__content{
		width: 50%;
		height: 300px;
		padding: 93px 0 0 10px;
	}

	&__title{
		font-weight: 900;
		font-size: 32px;
		line-height: 1.3;
		color: #fff;
		margin: 0 0 45px 0;
	}
}