/*-------------------footer------------------*/
.footer{
	background-color: $main-black;
	margin-top: auto;

	&__container{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 65px 15px 30px 15px;

		@media (max-width: 768px){
			padding: 35px 15px 20px 15px;
		}
	}

	&__item{
		width: 33%;
		display: flex;
	}

	&__item.list{
		justify-content: space-between;
		padding: 0 35px 0 0;

		@media (max-width: 1180px){
			width: 50%;
			padding: 0 70px 0 0;
		}

		@media (max-width: 768px){
			padding: 0 20px 0 0;
		}

		@media (max-width: 640px){
			width: 100%;
			justify-content: space-around;
			padding: 0 0 0 0;
		}
	}

	&__item.social{
		justify-content: center;
		padding: 0 0 0 20px;

		@media (max-width: 1180px){
			width: 50%;
			padding: 0 0 0 0;
		}

		@media (max-width: 640px){
			width: 100%;
			padding: 25px 0 0 0;
		}
	}

	&__item.app{
		justify-content: flex-end;
		padding: 0 10px 0 0;

		@media (max-width: 1180px){
			width: 100%;
			justify-content: flex-start;
			padding: 25px 0 0 0;
		}

		@media (max-width: 640px){
			justify-content: center;
		}
	}

	&__item-title{
		text-transform: uppercase;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.2;
		letter-spacing: 1px;
		color: #fff;
		margin: 0 0 18px 0;

		@media (max-width: 640px){
			text-align: center;
		}
	}

	&__item-title.app{
		margin: 0 0 26px 0;

		@media (max-width: 1180px){
			margin: 0 0 18px 0;
		}
	}

	&__list{
		list-style: none;
		padding: 0;
		margin: 0;

		&-item{
			margin-bottom: 11px;

			@media (max-width: 640px){
				text-align: center;
			}
		}

		&-link{
			font-size: 16px;
			line-height: 1.2;
			color: $grey-text;

			&:hover{
				text-decoration: underline;
			}
		}
	}

	&__contacts-text{
		font-size: 16px;
		line-height: 1.2;
		color: #fff;
		margin: 0 0 5px 0;

		@media (max-width: 640px){
			text-align: center;
		}
	}

	&__social{
		display: flex;
		align-items: center;
		padding: 15px 0 0 0;

		&-link{
			display: inline-block;
			width: 32px;
			height: 32px;
			border-radius: 4px;
			background-color: #393C45;
			background-repeat: no-repeat;
			background-position: center;
			transition: background .2s ease;

			&:not(:last-child){
				margin-right: 12px;
			}  
		}

		&-link.facebook{
			background-image: url(../img/icons/facebook-icon-white.svg);

			&:hover{
				background-image: url(../img/icons/facebook-icon-green.svg);
			}
		}

		&-link.instagram{
			background-image: url(../img/icons/instagram-icon-white.svg);

			&:hover{
				background-image: url(../img/icons/instagram-icon-green.svg);
			}
		}

		&-link.twitter{
			background-image: url(../img/icons/twitter-icon-white.svg);

			&:hover{
				background-image: url(../img/icons/twitter-icon-green.svg);
			}
		}

		&-link.youtube{
			background-image: url(../img/icons/youtube-icon-white.svg);

			&:hover{
				background-image: url(../img/icons/youtube-icon-green.svg);
			}
		}

		&-link.pinterest{
			background-image: url(../img/icons/pinterest-icon-white.svg);

			&:hover{
				background-image: url(../img/icons/pinterest-icon-green.svg);
			}
		}
	}

	&__copy{
		border-top: 1px solid #40424C;
		
		&-container{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 20px 25px 30px 15px;

			@media (max-width: 560px){
				flex-direction: column;
				padding: 15px 15px 20px 15px;
			}
		}

		&-description{
			display: flex;
			align-items: center;

			@media (max-width: 560px){
				order: 1;
			}
		}

		&-text{
			font-size: 12px;
			line-height: 1.5;
			color: #fff;

			@media (max-width: 560px){
				font-size: 10px;
				text-align: center;
			}
		}

		&-icon{
			width: 16px;
			height: 16px;
			margin: 0 4px 0 4px;
		}

		&-link-top{
			display: block;
			font-weight: 700;
			font-size: 16px;
			line-height: 1.6;
			color: $grey-text;
			transition: color .2s ease;
			
			@media (max-width: 560px){
				order: 0;
				margin-bottom: 10px;
			}

			&:hover{
				color: #fff;
			}
		}
	}
}
