/*-------------------global------------------*/
*,
*:before,
*:after{
	box-sizing: border-box;
}

html, 
body{
	height: 100%;
	min-width: 320px;
}

body{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: var(--main-black);
	background-color: #fff;
}

img{
	display: block;
	max-width: 100%;
	height: auto; 
}

a{
	text-decoration: none;
}

button{
	border: none;
	outline: none;
	cursor: pointer;
}

.visually-hidden {
  	position: absolute;
  	width: 1px;
  	height: 1px;
  	margin: -1px;
  	padding: 0;
  	overflow: hidden;
  	border: 0;
  	clip: rect(0 0 0 0);
}

.wrapper{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
}

.overlay{
	background-color: rgba(0, 0, 0, .6);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 30;
	display: none;
}

.overlay.show{
	display: block;
}

.container{ 
	max-width: 1270px; 
	padding: 0 15px;
	margin: 0 auto;
}

.grey-text{
	color: var(--grey-text);
}

.title{
	font-weight: 900;
	font-size: 46px;
	line-height: 1.2;
	letter-spacing: 0.4px;
	margin: 0;

	@media (max-width: 990px){
		font-size: 40px;
	}

	@media (max-width: 640px){
		font-size: 34px;
	}
}

