/*-------------------global------------------*/
*,
*:before,
*:after{
	  box-sizing: border-box;
}

html, 
body{
		height: 100%;
		min-width: 320px;
}

body{
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		font-size: 16px;
		color: $main-black;
		background-color: #fff;
}

img{
		display: block;
		width: 100%;
		height: auto; 
}

a{
		text-decoration: none;
}

button{
		border: none;
		outline: none;
		cursor: pointer;
}

.visually-hidden {
  	position: absolute;
  	width: 1px;
  	height: 1px;
  	margin: -1px;
  	padding: 0;
  	overflow: hidden;
  	border: 0;
  	clip: rect(0 0 0 0);
}

.wrapper{
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		position: relative;
		overflow: hidden;
}

.overlay{
	background-color: rgba(0, 0, 0, .6);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 30;
	display: none;
}

.overlay.show{
	display: block;
}

.container{ 
		max-width: 1270px; 
		padding: 0 15px;
		margin: 0 auto;
}

.grey-text{
		color: $grey-text;
}

.title{
		font-weight: 900;
		font-size: 46px;
		line-height: 1.2;
		letter-spacing: 0.4px;
		margin: 0;
}

.primary-link{
	 	display: inline-block;
		font-weight: 700;
		font-size: 16px;
		line-height: 1;
		letter-spacing: 0.2px;
		color: $main-green;
		border-radius: 4px;
		border: 1px solid $main-green;
		padding: 18px 40px 16px 40px;
		transition: background .2s ease;

		&:hover{
			background-color: $main-green;
			color: #fff;
		}

		&.sale{
				margin-right: 25px;
		}

		&.active{
			  background-color: $main-green;
				color: #fff;

				&:hover{
					background-color: transparent;
					color: $main-green;
				}
		}
}

.mobile-app{
		display: flex;
		align-items: center;

		&__link{
				width: 162px;
				height: 48px;
				border-radius: 4px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				transition: opacity .2s ease;

				&:hover{
					opacity: 0.6;
				}
		}

		&__link.apple{
				background-image: url(../img/icons/app-store.svg);
				margin-right: 25px;
		}

		&__link.google{
				background-image: url(../img/icons/google-play.svg);
		}
}

/*-------------------Custom-select----------------------*/

.select-wrap{
		position: relative;
}

.select{
		position: relative;
		display: block;
}

.select:focus, .active{
		outline: none;
}

.select-list{
		list-style-type: none;
		position: absolute;
		top: 100%;
		left: 0;
		overflow: hidden;
		padding: 0;
		margin: 0;
		display: none;
}

.select-list.visible{
		display: block;
}

.input-hidden{
		display: none;
}