/*-------------------trending----------------*/
.trending{
	background-color: #E5E8ED;
	padding: 87px 0 80px 0;

	&__container{

	}

	&__title{
		margin-bottom: 60px;
	}

	&__link-wrap{
		text-align: center;
	}
}