/*-----------------pagination----------------*/
.pagination{
	display: flex;

	&__button{
		min-width: 24px;
		height: 25px;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.6;
		color: var(--main-black);
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center;
		padding: 0;
		margin: 4px;
	}

	&__button.active{
		color: var(--main-green);
	}

	&__button-prew{
		background-image: url(../img/icons/pagination-arrow.svg);
		transform: rotate(180deg);
		margin-right: 10px;
		display: none;
	}

	&__button-next{
		background-image: url(../img/icons/pagination-arrow.svg);
		margin-left: 15px;
	}
}